uploads/

# dependencies
node_modules/

# env files
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# runtime / build output
dist/
build/
coverage/
.tmp/
temp/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/